[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.8.3"
flake8 = "==3.9.2"
black = "==21.5b2"
pytest = "==6.2.4"
pytest-asyncio = "==0.15.1"
mock = "==4.0.3"

[packages]
nats-py = "==2.1.0"
grpcio = "==1.46.1"
grpclib = "==0.4.2"
grpcio-tools = "==1.46.1"
influxdb-client = "==1.9.0"
protobuf = "==3.12.2"
# This is a sub-dependency, added explicitily here because it fails on v4.0.
h2 = "==3.2.0"
pymongo = "*"

[requires]
python_version = "3"
