[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
nats-py = "==2.1.0"
grpcio = "==1.28.1"
grpclib = "==0.3.2"
grpcio-tools = "==1.28.1"
influxdb-client = "==1.9.0"
protobuf = "==3.12.2"
# This is a sub-dependency, added explicitily here because it fails on v4.0.
h2 = "==3.2.0"

[dev-packages]

[requires]
python_version = "3"
