name: kre-go Release

on:
  workflow_run:
    workflows:
      - "kre-go Tests"
    branches: [ main ]
    types:
      - completed

jobs:
  semantic-release:
    name: Semantic Release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.semantic.outputs.new_release_version }}
      published: ${{ steps.semantic.outputs.new_release_published }}
    steps:

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v3
        id: semantic
        with:
          semantic_version: 19
          branch: main
          extends: |
            semantic-release-monorepo
          working_directory: ./kre-go
          extra_plugins: |
            @semantic-release/git@10.0.1
            @semantic-release/changelog@6.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.PATNAME }}


  docker:
    name: Docker
    runs-on: ubuntu-latest
    needs: semantic-release
    if: ${{ needs.semantic-release.outputs.published == 'true'}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v3
        with:
          context: ./kre-go
          file: ./kre-go/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            konstellation/kre-go:${{ needs.semantic-release.outputs.version }}
            konstellation/kre-go:latest
